@{
    ViewData["Title"] = "Home Page";
}

<style>
    ul, ol {
        padding-left: 40px;
    }
</style>


<div>@Html.ActionLink("Empty Test", "EmptyTest", "Test", null, new { target = "_self" })</div>
<div>@Html.ActionLink("Tab index and focus", "TabIndexAndFocus", "Test", null, new { target = "_self" })</div>

<div class="tp-Row">
    <div class="l3 m3 s6 xs12">
        <h2>Containers</h2>
        <div style="font-size: 14px;">
            <ol>
                <li><div>@Html.ActionLink("DropDownBox", "DropDownBox", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Virtual Scroller", "VirtualScroller", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Splitter", "Splitter", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("GroupBox", "GroupBox", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Accordion", "Accordion", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Tab Control", "TabControl", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("PanelList", "PanelList", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ImageSlider", "ImageSlider", "TestContainers", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("IFrame", "IFrame", "TestContainers", null, new { target = "_self" })</div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Controls</h2>
        <div style="font-size: 14px;">
            <ol>
                <li><div>@Html.ActionLink("AutocompleteList", "AutocompleteList", "TestControls", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("Label", "Label", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("TextBox", "TextBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Memo", "Memo", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("CheckBox", "CheckBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("NumberBox", "NumberBox", "TestControls", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("ComboBox", "ComboBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ListBox", "ListBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("CheckListBox", "CheckListBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("CheckComboBox", "CheckComboBox", "TestControls", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("HtmlComboBox", "HtmlComboBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("HtmlListBox", "HtmlListBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("HtmlNumberBox", "HtmlNumberBox", "TestControls", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("Calendar", "Calendar", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("DateBox", "DateBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ImageBox", "ImageBox", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("RadioGroup", "RadioGroup", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ValueSlider", "ValueSlider", "TestControls", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("ProgressBar", "ProgressBar", "TestControls", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("TreeView", "TreeView", "TestControls", null, new { target = "_self" })</div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Grid</h2>
        <div style="font-size: 14px;">
            <ol>
                <li><div>@Html.ActionLink("Grid: Thousands of rows", "Grid", "TestGrid", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Grid2: Initialization using CreateParams", "Grid2", "TestGrid", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Grid3: Initialization using properties directly", "Grid3", "TestGrid", null, new { target = "_self" })</div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Dialogs</h2>
        <div style="font-size: 14px;">
            <ol>
                <li><div>@Html.ActionLink("Notifications", "Notifications", "TestDialogs", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Notification Dialogs", "NotificationDialogs", "TestDialogs", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("FrameBox", "FrameBox", "TestDialogs", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ContentWindow", "ContentWindow", "TestDialogs", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("DataSetBox", "DataSetBox", "TestDialogs", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("TableBox", "TableBox", "TestDialogs", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("RowBox", "RowBox", "TestDialogs", null, new { target = "_self" })</div></li>

                <li><div>@Html.ActionLink("PickRowsBox", "PickRowsBox", "TestDialogs", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("PickRowBox", "PickRowBox", "TestDialogs", null, new { target = "_self" })</div></li>

            </ol>
        </div>
    </div>
</div>


<div class="tp-Row">
    <div class="l3 m3 s6 xs12">
        <h2>Menus - Buttons - ToolBars </h2>
        <div style="font-size: 14px;">
            <ol>
                <li><div>@Html.ActionLink("Menu", "Menu", "TestMenus", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ContextMenu", "ContextMenu", "TestMenus", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("SiteMenu", "SiteMenu", "TestMenus", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("ToolBar and ButtonEx", "ToolBar", "TestMenus", null, new { target = "_self" })</div></li>
            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">
        <h2>Data</h2>
        <div style="font-size: 14px;">
            <ol>
                <li><div>@Html.ActionLink("Simple Binding", "SimpleBinding", "TestData", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("List Binding", "ListBinding", "TestData", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Master - Detail", "MasterDetail", "TestData", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("Locator", "Locator", "TestData", null, new { target = "_self" })</div></li>
                <li><div>@Html.ActionLink("DataView and Broker", "DataView", "TestData", null, new { target = "_self" })</div></li>



            </ol>
        </div>
    </div>

    <div class="l3 m3 s6 xs12">

    </div>

    <div class="l3 m3 s6 xs12">

    </div>

</div>







    <script type="text/javascript">


        tp.Main = function () {


        };


    </script>



